.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.4);
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal{
    width:500px;
    background:white;
    border-radius:12px;
    overflow:hidden;
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    border-bottom:1px solid #eee;
}

.modal-header button{
    border:none;
    background:none;
    font-size:22px;
    cursor:pointer;
}

.modal-body{
    padding:20px;
}